<div class='row'>
	<div class='col-sm-4 tile-outer' droppable  (onDrop)="onItemDrop($event,task)" *ngFor='let task of tasks ;trackBy: trackByFn' >
		<div class='card' >
			<div class='card-header'>{{task.status}}</div>
			<div class='card-body' >
				<ul class=''  >
					<li class='list-item card-footer' 
					(onDragEnd)="onItemDrag($event, task, item)"  draggable [dragData]="item"   *ngFor='let item of task.items'>
						{{item.desc}}  
						<span class='crud-icons' (click)='deleteTask(task, item)'>
							<i class="fa fa-trash-o" aria-hidden="true"></i>
						</span>
						<span class='crud-icons' (click)='editTask(task, item);isAdd=false;isEdit=true;isAddTask=false;'>
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</span>		
					</li>
				</ul>
			</div>
			
			<div class='card-footer'>
				<span class='crud-icons' (click)='addTask(task, item);isAdd=true;isEdit=false;isAddTask=false;'><i class="fa fa-plus" aria-hidden="true"></i> Add New Task Item</span>
			</div>			
		</div>		
	</div>
	<div class='col-sm-4 tile-outer'>
		<div class='card ' >
			<div class='card-header bg-success text-white' >
				<span class='crud-icons' (click)='addTaskList();isAdd=false;isEdit=false;isAddTask=true'><i class="fa fa-plus" aria-hidden="true"></i> Add New Task </span>
			</div>
			
		</div>
	</div>	
</div>

<div *ngIf='showModal===true'>	
	<task-item 
		[(show)]='showModal' 
		[task] ='selectedTask' 
		[item]='selectedItem'
		[isAddTask]='isAddTask'
		(onCloseAdd)='onCloseAddTask(selectedTask)'
		(onclose)='oncloseModal(selectedItem)'>		
	</task-item>
</div>